.formBox{

background:white;
padding:15px;
border-radius:12px;
margin-bottom:20px;

display:flex;
flex-direction:column;
gap:10px;

}

.formBox select,
.formBox input{

padding:10px;
border-radius:8px;
border:1px solid #ddd;

}

.formBox button{

background:#3a7bd5;
color:white;
border:none;
padding:10px;
border-radius:8px;

}
